html {
  height: 100%;
}

.productbox {
  transition: 0.15s;
}

.productbox:hover {
  transform: scale(1.02);
}

.margin-bottom-0 {
  margin-bottom: 0rem;
}

.bold {
  font-weight: bold;
}

.red-text {
  color: rgb(204, 38, 38);
}

.green-text {
  color: rgb(31, 128, 23);
}

.sidebar {
  text-align: left;
  height: 100%;
  float: left;
  position: fixed;
}

.sidebar-profile {
  position: absolute;
  bottom: 5rem;
  left: 1rem;
}

.btn-toggle-nav button {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
  background: none;
  border: none;
}

.no-border {
  border: none;
}

.no-background {
  background: none;
}

.panel-wrapper {
  margin-left: 2%;
  margin-top: 2% !important;
  float: left;
  width: 70%;
}

.admin-search-width {
  width: 90% !important;
  float: left;
}

.csv-box {
  width: 40%;
  height: 500px;
  margin-left: 2%;
  margin-top: 2%;
  float: left;
}

.mr2 {
  margin-right: 2rem;
}

.csv-buttons {
  left: 40%;
  position: absolute;
}

.left-panel-padding {
  padding-left: 280px;
}

.panel-slider {
  height: 100vh;
  width: 280px;
  float: left;
}
